<%- include("./partials/header") %>

<title>Home Page</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <%- include("./partials/navbar") %>

            <div class="main-cont col-10 col-md-8 col-lg-6">
                <h1 class="fw-bold title-cont">Home</h1>
                <!-- --------- -->

                <%- include("./partials/modal") %>
                <!-- ----- -->

                <div class="mb-3 post-cont">
                    <div class="profile-pic-cont">
                        <img src="images/profilePhoto.jpeg" alt="User Profile Picture">
                    </div>
                    <div class="create-tweet-cont">
                        <textarea id="tweet-text" cols="30" rows="3" placeholder="Whats's happening?"></textarea>
                        <button id="createTweetBtn">Post</button>
                    </div>
                
                </div>

                <div>
                    <div class="all-tweets-cont"></div>
                </div>

            </div>

            <div class="d-none d-md-block col-md-2 col-lg-4">Sidebar</div>
        </div>
    </div>


    <script src="./js/main.js"></script>
<%- include("./partials/footer") %>