<%- include("partials/header") %>

<title>Profile Page</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container">
        <div class="row">
            
            <%- include("./partials/navbar") %>
            
            <div class="main-cont col-10 col-md-8 col-lg-6">
                <h1 class="fw-bold title-cont"> <%=payload.displayName%> </h1>
               
            </div>

            <div class="d-none d-md-block col-md-2 col-lg-4">Sidebar</div>
        </div>
    </div>


<script src="/js/main.js"></script>
<%- include("partials/footer") %>
